{% extends 'main.html' %}

{% block content %}

<p>Hello you are on the {{page}} page</p>


{% if number > 10 %}

<p>Number {{number}} is greater than 10</p>

{% else %}

<p>Number is less than 10</p>

{% endif %}

<h1>Here WE ARE...</h1>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident veritatis assumenda minus fuga, odio nostrum
    optio facilis neque labore totam accusantium? Laboriosam, quas voluptatibus fuga facilis repudiandae voluptas dolore
    earum cum vel cupiditate tenetur veniam, sequi sunt ad debitis quo tempore nobis, velit maiores nam!
</p>

{% endblock content %}